* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.header {
  /* background-color: rgba(255, 255, 255, 0.2); */
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 25px;
  /* background-color: gray; */
}
.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
  padding: 10px 0px;
}
.navbar input {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: rgb(73, 69, 69);
}
#menu {
  display: none;
}

.headerContent {
  height: 100vh;
  margin-top: 100px;
  display: flex;
  align-items: center;
  /* background-color: red; */
}
.left {
  width: 100%;
}
.left > h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.left > p {
  font-size: 16px;
}
.right {
  width: 100%;
}
.right img {
  width: 100%;
}

main {
  /* background-color: gray; */
  max-width: 1200px;
  margin: auto;
  padding: 0px 25px;
}
.picture {
  /* background-color: rebeccapurple; */
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.imageDiv {
  min-width: 250px;
  flex-basis: 20%;
}
.imageDiv > img {
  width: 100%;
}

/* ---------- */

.featuredProduct {
  margin: 100px 0px;
}

.featuredProduct > h2,
.latestProduct > h2 {
  text-align: center;
  position: relative;
  /* display: inline-block; */
}
.featuredProduct > h2::after,
.latestProduct > h2::after {
  content: "";
  position: absolute;
  /* background-color: red; */
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  border-radius: 2px;
}

.latestProduct {
  margin: 100px 0px;
}
.latestProdImg {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.latestProdImgBox {
  flex-basis: 20%;
  min-width: 200px;
}

.featuredDiv {
  max-width: 100%;
}
.featuredDiv > a {
  width: 100%;
}
.featuredDiv > a > img {
  width: 100%;
}

.imageDiv2 > img {
  width: 100%;
}

.watchContainer {
  width: 85%;
  margin: auto;
  margin-top: 180px;
  margin-bottom: 100px;
  /* background-color: red; */
  min-height: 70vh;
  display: flex;
  align-items: center;
}
.watchImgDiv {
  flex-basis: 50%;
  min-width: 300px;
}
.watchImgDiv > img {
  margin: 20px;
  /* background-color: blue; */
  width: 90%;
}
.watchText {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.watchText p,
small {
  color: rgb(63, 58, 58);
}
.watchText h2 {
  font-size: 45px;
}
.buyNow {
  background-color: #ff523b;
  width: fit-content;
  border-radius: 20px;
  padding: 8px 30px;
  border: none;
  color: white;
  font-size: 18px;
}
.buyNow:hover {
  background-color: #ca402e;
}

.testimonial {
  max-width: 1200px;
  padding: 0px;

  margin: 30px auto 80px;
}
.cardBox {
    width: 90%;
    margin: auto;
  padding: 10px;
  display: flex;
  /* flex: auto; */
  min-height: fit-content;
  justify-content: space-around;
  align-self: center;
  /* background: blue; */
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex-basis : 250px;
  /* display: flex; */
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  /* background-color: red; */
  padding: 40px 20px 40px;
  transition: transform 0.4s;
}
.card:hover {
  transform: translateY(-10px);
}
.card p {
  font-size: 13px;
  color: rgb(63, 58, 58);
}
.card > .rating {
  padding-top: 40px;
}
.card > img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.brands {
  max-width: 1200px;

  /* margin-top: 70px; */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 80px;
  /* background-color: red; */
}
.smallContainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;

  gap: 10px;
}
.brandImg1,
.brandImg2,
.brandImg3,
.brandImg4,
.brandImg5 {
  /* flex: 1; */
  flex-basis: 150px;

}
.smallContainer img {
  width: 100%;
  filter: grayscale(100%);
}
.smallContainer img:hover {
  filter: grayscale(0);
}

footer {
  width: 100%;
  margin: auto;
  padding: 60px 50px;
  background-color: #222831;
}
.fContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  /* background-color: red; */
}

.appLink {
  padding: 20px;
}
.otherLink {
  width: 30%;
  padding: 20px;
}
.socialLink {
  padding: 20px;
}
h4 {
  color: #ca402e;
}
.appLink > p {
  margin: 20px 0px;
}
.app-logo > img {
  width: 140px;
}

ul {
  margin: 20px 0px;
}
li {
  list-style: none;
  margin-bottom: 10px;
}
li:hover {
  color: #ff523b;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  body {
    min-width: 100vw;
  }
  .container {
    max-width: 100%;
    padding: 10px;
    
    .headerContent {
      width: 100%;
      height: auto;
      margin: auto;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      /* background-color: blue; */
      
      .left {
        text-align: center;
      }
      .right {
        /* background-color: red; */
        width: 100%;
      }
    }
  }
  main {
    min-width: 100vw;
    /* background: blue; */
    margin: 0px;
    padding: 0px;

    .watchContainer {
      flex-direction: column;
      align-items: center;

      .watchText {
        text-align: center;
      }
    }
  }
  #menu {
    display: block;
  }
  #menu-toggle:checked ~ nav {
    max-height: 30vh;
    opacity: 1;
    transform: translateY(0);
  }
  nav {
    position: absolute;
    top: 80px;
    width: 100%;
    margin: auto;
    background-color: rgba(111, 153, 161, 0.616);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    max-height: 0px;
    overflow: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;

    a {
      margin: 5px;
    }
  }
  .brands {
    height: auto;
  }
   footer {
      width: 100%;
      padding: 5px;
        /* background-color: red; */
        
    }
    .fContainer { 
      flex-direction: column;
    }

    .appLink, .otherLink, .socialLink {
      /* flex: 1; */
      text-align: center;
    }
    .app-logo > img {
      height: 10vw;
    }
}

@media screen and (max-width: 650px) {
  .watchContainer {
    width: 90%;
    margin: auto;
    /* background-color: red; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
