* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  /* background-color: rgba(255, 255, 255, 0.2); */
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 25px;
}

.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
  padding: 10px 0px;
}
.navbar input {
  display: none;
}
nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: rgb(73, 69, 69);
}
#menu {
  display: none;
}

.allProducts {
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  /* background-color: red; */
  padding: 10px;
}
.small-container {
  margin: 80px 10px 30px;
  /* background-color: blue; */
}
.heading {
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 10px 60px;
  /* background-color: green; */
}
h2 {
}
select {
  border: 1px solid red;
}
.picture {
  /* background-color: rebeccapurple; */
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  width: 80%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
}

.latestProdImg {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.latestProdImgBox {
  flex-basis: 20%;
  min-width: 200px;
}
.imageDiv2 > img {
  width: 100%;
}

.page-btn {
  /* background-color: red; */
  margin: 0px auto 60px;
  /* margin: auto; */
  width: 90%;
  /* padding: 10px; */
}
span {
  display: inline-block;
  margin: 5px 5px 5px;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(255, 82, 59);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-image: initial;
  transition: backgrounnd-color 0.3s;
}
span:hover {
  background-color: rgb(250, 56, 31);
}

/* footer style */

footer {
  width: 100%;
  margin: auto;
  padding: 60px 50px;
  background-color: #222831;
}
.fContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  /* background-color: red; */
}

.appLink {
  padding: 20px;
}
.otherLink {
  width: 30%;
  padding: 20px;
}
.socialLink {
  padding: 20px;
}
h4 {
  color: #ca402e;
}
.appLink > p {
  margin: 20px 0px;
}
.app-logo > img {
  width: 140px;
}

ul {
  margin: 20px 0px;
}
li {
  list-style: none;
  margin-bottom: 10px;
}
li:hover {
  color: #ff523b;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #menu {
    display: block;
  }
  #menu-toggle:checked ~ nav {
    max-height: 30vw;
    opacity: 1;
    transform: translateY(0);
    max-height: fit-content;
  }
  nav {
    position: absolute;
    top: 80px;
    width: 90%;    
    background-color: rgba(176, 211, 218, 0.712);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    max-height: 0px;
    overflow: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;

    a {
      margin: 5px;
    }
  }

  .heading {
    padding: 10px;
    gap: 10px;
  }

  footer {
    width: 100%;
    padding: 5px;
    /* background-color: red; */
  }
  .fContainer {
    flex-direction: column;
  }

  .appLink,
  .otherLink,
  .socialLink {
    text-align: center;
  }
  .app-logo > img {
    height: 10vw;
  }

  select {
    /* background-color: red; */
    font-size: 0.7rem;
  }
}
