* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.header {
  background-color: rgba(255, 255, 255, 0.2);
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 25px;
}
.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
  padding: 10px 0px;
}
.navbar input {
  display: none;
}

nav {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 10px 0px;
}
nav a {
  text-decoration: none;
  color: rgb(73, 69, 69);
}
#menu {
  display: none;
}

.proDetail {
  max-width: 1200px;
  margin: 60px auto 100px;
  padding: 10px;
}

.small-container {
  width: 90%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}
.leftBox {
  width: 50%;
  height: 50%;
}

.row1 {
  padding: 10px;
}
.row1 img {
  max-width: 100%;
}
.row2 {
  padding: 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.row2 img {
  flex: 1;
  width: 50px;
}

.rightBox {
  width: 50%;
  padding: 20px;
}
small,
p {
  color: gray;
}
h2 {
  margin: 30px 0px;
  font-size: 40px;
}
select {
  margin: 30px 0px;
  border: 1px solid orangered;
  padding: 5px 10px;
}
span {
  display: inline-block;
  border: 1px solid orangered;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
button {
  background-color: #eb4e3a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  margin-left: 40px;
}
h3 {
  margin: 30px 0px;
  text-transform: uppercase;
}

.relatedProd {
  max-width: 1200px;
  margin: 100px auto 120px;
  padding: 10px;
}
.imgDiv {
  margin: auto;
  width: 95%;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.relateProdImg {
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.latestProdImg {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.latestProdImgBox {
  flex-basis: 15%;
  min-width: 200px;
}
.imageDiv2 > img {
  width: 100%;
}

/* footer style */

footer {
  width: 100%;
  margin: auto;
  padding: 60px 50px;
  background-color: #222831;
}
.fContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.appLink {
  padding: 20px;
}
.otherLink {
  width: 30%;
  padding: 20px;
}
.socialLink {
  padding: 20px;
}
h4 {
  color: #ca402e;
}
.appLink > p {
  margin: 20px 0px;
}
.app-logo > img {
  width: 140px;
}

ul {
  margin: 20px 0px;
}
li {
  list-style: none;
  margin-bottom: 10px;
}
li:hover {
  color: #ff523b;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  body {
    min-width: 100vw;
  }
  .container {
    max-width: 100%;
    padding: 10px;
  }

  #menu {
    display: block;
  }
  #menu-toggle:checked ~ nav {
    max-height: 40vh;
    opacity: 1;
    transform: translateY(0);
  }
  nav {
    position: absolute;
    padding: 0px;
    top: 80px;
    width: 100%;
    margin: auto;
    background-color: rgba(111, 153, 161, 0.616);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    max-height: 0px;
    overflow: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;

    a {
      margin: 5px;
    }
  }
  
  .proDetail {
    padding: 0;
  }
  .small-container {
    flex-direction: column;
    justify-items: center;
  }
  .leftBox {
  }
  .leftBox,
  .rightBox {
    flex-basis: auto;
    width: 100%;
  }
  .rightBox {
    text-align: center;
  }
  

  /* footer */

  footer {
    width: 100%;
    padding: 5px;
  }
  .fContainer {
    flex-direction: column;
  }

  .appLink,
  .otherLink,
  .socialLink {
    text-align: center;
  }
  .app-logo > img {
    height: 10vw;
  }
}

@media screen and (max-width: 500px) {
  .row2 img {
  height: 80%;
  height: 80%;
  }
}

